<md-card id="diagnosis-card">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-xl-3 app-autocomplete">
      <app-autocomplete 
        [endpoint]="dEndpoint" name="disease" 
        [label]="dPlaceholder" 
        [primarykey]="dKey"
        [(ngModel)]="dText" 
        [minSearchLength]="6"
        (emitProduct)="dSelected($event)" ngDefaultControl>
      </app-autocomplete>
    </div>
    <md-input-container>
      <input mdInput name="notes" type="text" [(ngModel)]="notes" placeholder="Notes">
    </md-input-container>
    <input name="p_visit_id" type="hidden" value="p_visit_id">
    <button class="btn btn-primary" (click)="persist()">Add</button>
  </div>
  <table class="table table-bordered table-striped">
    <tr *ngFor="let item of displayObjects">
      <td>{{item.disease}}</td><td>{{item.notes}}</td><td><button>X</button></td>
    </tr>
  </table>
</md-card>