<md-card id="print-section">
	<h2>Bill Details</h2>
	<!-- <app-dynaform [questions]="questions"></app-dynaform> -->
	<div class="row" *ngFor="let x of item"> 
		<div class="col-lg-6 col-md-6">{{x.product}}</div>
		<div class="col-lg-6 col-md-6">{{x.amount}}</div>
	</div>
	<input [(ngModel)]="amount" name="amount" type="number">
	<div *ngIf="isNotPaid; else paidTemplate">
		<button (click)="payBill()">Pay</button>
	</div>

	<ng-template #paidTemplate>
		<button (click)="print('kennedy')">Print</button>
	</ng-template>
</md-card>