<md-card id="print-section">
	<h2>Bill Details</h2>
	<!-- <app-dynaform [questions]="questions"></app-dynaform> -->
	<div class="row" *ngFor="let x of item"> 
		<div class="col-lg-6 col-md-6">{{x.product}}</div>
		<div class="col-lg-6 col-md-6">{{x.amount}}</div>
	</div>
	<div style="margin-top: 10px;margin-bottom: 10px">
		<form>
			<input [(ngModel)]="amount" name="amount" type="number">
			<select [(ngModel)]="paymentmethod" name="paymentmethod">
				
				<option *ngFor="let contacts of data" value="{{contacts.b_paymode_id}}">
					{{contacts.name}}
				</option>
				
			</select>
			<div>
				<button (click)="payBill()">Pay</button>
			</div>
		</form>
	</div>

	
</md-card>