<div *ngIf="patient; else loadingBlock">
	<md-card class="col-lg-12">
		<div class="col-lg-8">
			<div id="patient-file">
				<h4><i class="fa fa-fw fa-user"></i>{{patient.patient_name}}</h4>
				<i class="fa fa-fw fa-file"></i>{{patient.visitno}} &nbsp; | &nbsp;
				<i class="fa fa-fw fa-venus-mars"></i>{{patient.gender}}  &nbsp; | &nbsp;
				<i class="fa fa-fw fa-calendar"></i><a title="DOB: {{patient.dob | date: 'mediumDate'}}">{{patient.calculateAge(patient.dob)}} yrs</a>
			</div>
			<div id="known-conditions">
				<i class="fa fa-fw fa-file"></i> Known Conditions: <br />
			</div>
		</div>
		<div class="col-lg-4">
			<md-card id="examinations">
				<h4>
					<i class="fa fa-history"></i> 
					HISTORY</h4>
				<ul id="right-pane">
					<li *ngFor="let visit of visits"><a href="#">{{visit.visit_date | date: 'mediumDate'}}</a></li>
				</ul>
			</md-card>
		</div>
	</md-card>
	<md-card class="col-lg-12">
		<md-tab-group>
	   		<md-tab label="VITALS">
				<app-vitals [p_visit_id]="p_visit_id"></app-vitals>
	   		</md-tab>
	   		<md-tab label="DIAGNOSIS">
	   			<button class="btn btn-default" (click)="openRotiniPanel()">Add</button>
	   		</md-tab>
			<md-tab label="SERVICES">
				<button class="btn btn-default" (click)="openRotiniPanel()">Add</button>
			</md-tab>
			<md-tab label="TREATMENT">
				<button class="btn btn-default" (click)="openRotiniPanel()">Add</button>
			</md-tab>
			<md-tab label="SPECIAL NOTES">
				<button class="btn btn-default" (click)="openRotiniPanel()">Add</button>
			</md-tab>
	 		</md-tab-group>
	</md-card>
</div>
<ng-template #loadingBlock>
	<img src="assets/img/loading.gif">
</ng-template>