<div class="{{messageclass}}"><strong>{{message}}</strong></div>

<div class="table-responsive">
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Pharmacy</th><th>Visit</th><th>Patient</th><th>Product</th><th>Dosage</th><th>On Hand</th>
              <th>Qty to Dispense</th><th></th>
            </tr>
      </thead>
      <tbody>
      <tr *ngFor="let prescription of prescriptionsobj">
          <td contenteditable='true' #bookingname [id]="">{{ prescription.pharmacy_name }}</td>
          <td contenteditable='true'>{{ prescription.visitno }}</td>
          <td contenteditable='true'>{{ prescription.patientname }}</td>
          <td contenteditable='true'> {{ prescription.productname }}</td>
          <td contenteditable='true'> {{ prescription.dosage }}</td>
          <td contenteditable='true'> {{ prescription.onhandqty }}</td>
          <td contenteditable='true'> {{ prescription.dispenseqty }}</td>
          <td contenteditable='true'> {{ prescription.dispensed }}</td>
          <td> 
            <button type="button" #prescriptionid class="btn btn-primary" 
                (click)="Dispense(prescription.prescriptionid)" [id]="prescription.prescriptionid">
                <i class="fa fa-check"></i>
            </button>
          </td>
        </tr>
      </tbody>
  </table>
</div>
