<div [formGroup]="form">
  <!-- <label [attr.for]="question.key">{{question.label}}</label> -->

  <div [ngSwitch]="question.controlType" class="inputgroup">

    <input pInputText *ngSwitchCase="'email'" [formControlName]="question.key"
        [id]="question.key" [type]="question.type" [placeholder]="question.label">

    <p-dropdown *ngSwitchCase="'dropdown'" [options]="question.options" 
        [placeholder]="question.label" filter="filter">
    </p-dropdown>

    <input pInputText *ngSwitchCase="'textbox'" [formControlName]="question.key"
              [id]="question.key" [type]="question.type" [placeholder]="question.label">

  </div> 
  <!-- <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div> -->
</div>