<button class="btn btn-default" id="toggle-sidebar" type="button"
	(click)="eventCalled()">&#9776; Yoyo</button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
	<ul class="list-group">
		<div *ngFor="let menu of menus">
			<a class="navitem" href="#" data-toggle="collapse" [attr.data-target]="'#menu-' + menu.c_menu_id"> 
				<i class="fa fa-plus"></i> &nbsp; {{menu.name}}
			</a>
			<div id="menu-{{menu.c_menu_id}}" class="collapse">
				<ul class="submenu">
					<li *ngFor="let menuitem of menu.navitems">
						<a class="navitem" routerLink="['${menu.action']" [routerLinkActive]="['router-link-active']">
							<i class="fa fa-fw fa-{{menuitem.icon}}"></i> &nbsp; {{menuitem.name}}
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</ul>
</nav>