.navitem {
   padding: 5px;
   text-decoration: none;
   font-size: 15px;
   color: #ffffff;
   display: block;
   cursor: pointer;
}

.submenu {
	list-style: none;
	-webkit-padding-start: 10px;
	font-size: -2px;
}